.RData
.Rhistory
descarga.jfif
diqrxa7owisaohs8a4c3.jfif
exercise1.R
GettyImages-1395213584-4x3-1.webp
PlayerPerformanceMLB.R
PPD_MLB.csv
PredDisMLB.R
PredPlayMLB.R
references.bib
savant_data.csv
testMLB.R
WagesSpain2022.csv
AaronJudgeQuarto_files/figure-html/unnamed-chunk-3-1.png
AaronJudgeQuarto_files/figure-html/unnamed-chunk-6-1.png
AaronJudgeQuarto_files/figure-html/unnamed-chunk-6-2.png
AaronJudgeQuarto_files/libs/bootstrap/bootstrap-121aa9cbd7df54caec5acebf1a349e6f.min.css
AaronJudgeQuarto_files/libs/bootstrap/bootstrap-ebda192607b4aaa0c2c12f42de2f2d18.min.css
AaronJudgeQuarto_files/libs/bootstrap/bootstrap-efbb37e9afcc02144ebbc7afd12a776f.min.css
AaronJudgeQuarto_files/libs/bootstrap/bootstrap-f5bf36316ca6a5dddcd99c40fa7d475f.min.css
AaronJudgeQuarto_files/libs/bootstrap/bootstrap-icons.css
AaronJudgeQuarto_files/libs/bootstrap/bootstrap-icons.woff
AaronJudgeQuarto_files/libs/bootstrap/bootstrap.min.js
AaronJudgeQuarto_files/libs/clipboard/clipboard.min.js
AaronJudgeQuarto_files/libs/quarto-html/anchor.min.js
AaronJudgeQuarto_files/libs/quarto-html/popper.min.js
AaronJudgeQuarto_files/libs/quarto-html/quarto-syntax-highlighting-7f8f88aac4f3542376d5c11b86a4c14d.css
AaronJudgeQuarto_files/libs/quarto-html/quarto-syntax-highlighting-dark-d0ae9245876894da5ac7e18953ecc5cc.css
AaronJudgeQuarto_files/libs/quarto-html/quarto.js
AaronJudgeQuarto_files/libs/quarto-html/tippy.css
AaronJudgeQuarto_files/libs/quarto-html/tippy.umd.min.js
AaronJudgeQuarto_files/libs/quarto-html/tabsets/tabsets.js
